import multiprocessing
import os

os.environ['DJANGO_SETTINGS_MODULE'] = 'config.settings.prod'
bind = '{{ gunicorn_host }}:{{ gunicorn_port }}'
# workers = multiprocessing.cpu_count() * 2 + 1
workers = 1
pythonpath = '{{ django_dir }}'
