/db.sqlite3
/.vagrant/
*\.retry
/static/

# Docker-compose
volume/
/docker-compose.yml

# Tests result
/test/e2e/reports
/test/unit/coverage

# Logs
*\.log

# Python
*\.pyc
**/__pycache__/
/.direnv/
/.venv/

# Js
/dist/
/node_modules/

# Editor directories and files
/.idea
/.vscode
