/db.sqlite3
/.vagrant/
.envrc
/backup/
/.cache/

# Ansible
*\.retry
/deploy/lookup_plugins/

# Static files
/static/
/media/

# Logs
*\.log

# Python
*\.pyc
**/__pycache__/
/.direnv/
/.venv/
/.tox/
/.mypy_cache/
/.pytest_cache/
/gunicorn.conf.py

# Js
/frontend/dist/
/node_modules/
/cypress/screenshots/
/cypress/videos/

# Editor directories and files
/.idea
/.vscode
