.DS_Store
db.sqlite3
.vagrant/

# Tests result
test/e2e/reports
test/unit/coverage

# Logs
*\.log

# Python
*\.pyc
**/__pycache__/
.direnv/

# Js
dist/
node_modules/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
