[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

"psycopg2" = "*"
django = ">1.11.1,<1.12"
django-extensions = "*"
django-filter = "*"
django-rest-knox = "*"
djangorestframework = "*"
gunicorn = "*"
ipython = "*"
ipython-genutils = "*"
markdown = "*"
pillow = "*"
python-memcached = "*"
werkzeug = "*"


[dev-packages]

"autopep8" = "*"
"flake8" = "*"
isort = "*"
pdbpp = "*"
pylint = "*"
pylint-django = "*"
factory-boy = "*"
pytest = "*"
pytest-django = "*"