[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

Django = ">1.11.1,<1.12"
Markdown = "*"
Pillow = "*"
django-filter = "*"
django-rest-knox = "*"
djangorestframework = "*"
psycopg2 = "*"
python-memcached = "*"


[dev-packages]

Werkzeug = "*"
autopep8 = "*"
django-autofixture = "*"
django-debug-toolbar = "*"
django-extensions = "*"
flake8 = "*"
ipython = "*"
ipython-genutils = "*"
isort = "*"
pdbpp = "*"
pylint = "*"
pylint-django = "*"
