[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

django = ">1.11.1,<1.12"
markdown = "*"
pillow = "*"
django-filter = "*"
django-rest-knox = "*"
djangorestframework = "*"
"psycopg2" = "*"
python-memcached = "*"
gunicorn = "*"

[dev-packages]

werkzeug = "*"
"autopep8" = "*"
django-autofixture = "*"
django-debug-toolbar = "*"
django-extensions = "*"
"flake8" = "*"
ipython = "*"
ipython-genutils = "*"
isort = "*"
pdbpp = "*"
pylint = "*"
pylint-django = "*"
