// @import "~bootstrap/scss/variables";

$heading-height: 50px;

// Colors

$gray-800: #343a40 !default;
$green:   #28a745 !default;
$info: rgb(66,119,122);
$light: rgba(239, 217, 181, 0.68);
$primary: rgb(67,44,57);
$red:     #dc3545 !default;
$secondary: rgb(185,177,163);
$warning: rgb(215,76,53);
