server_tokens off;

server {
    listen 80 default_server;
    server_name {% for server in nginx_servers %} {{ server.name }} {% endfor %};

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://$host$request_uri? permanent;
    }
}

{% for server in nginx_servers %}

server {
    listen 443 ssl;
    server_name {{ server.name }};

    ssl on;
    ssl_certificate         /etc/letsencrypt/live/{{ nginx_servers[0].name }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ nginx_servers[0].name }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ nginx_servers[0].name }}/fullchain.pem;

    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 5m;
    ssl_stapling on;
    ssl_stapling_verify on;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";

    ssl_dhparam /etc/nginx/dhparams.pem;
    ssl_prefer_server_ciphers on;

    location / {
        proxy_pass http://{{ server.host }}:{{ server.port }};
    }

    access_log /var/log/nginx/{{ server.name }}.access.log;
    error_log /var/log/nginx/{{ server.name }}.error.log;
}

{% endfor %}


{% for server in nginx_servers_com %}

server {
    listen 443 ssl;
    server_name {{ server.name }};

    ssl on;
    ssl_certificate         /etc/letsencrypt/live/{{ nginx_servers_com[0].name }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ nginx_servers_com[0].name }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ nginx_servers_com[0].name }}/fullchain.pem;

    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 5m;
    ssl_stapling on;
    ssl_stapling_verify on;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";

    ssl_dhparam /etc/nginx/dhparams.pem;
    ssl_prefer_server_ciphers on;

    {% for static in server.static %}
        location {{ static.url }} {
            alias {{ static.path }};
        }
    {% endfor %}

    location / {
        proxy_pass http://{{ server.host }}:{{ server.port }};
    }

    access_log /var/log/nginx/{{ server.name }}.access.log;
    error_log /var/log/nginx/{{ server.name }}.error.log;
}

{% endfor %}
