// @import "~bootstrap/scss/variables";

$heading-height: 50px;

// Colors

$primary: rgb(67,44,57);
$secondary: rgb(185,177,163);
$info: rgb(66,119,122);
$warning: rgb(215,76,53);
$light: rgba(239, 217, 181, 0.68);
