[program:{{ project_name }}_gunicorn]
command={{ venv_dir }}/bin/gunicorn config.wsgi -c {{ project_dir }}/gunicorn.conf.py
directory={{ project_dir }}
user={{ user }}
autorestart=true
redirect_stderr=true
